@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.animate-loginCard-slideFadeIn {
  animation: slideFadeIn 1s ease-in; 
}


@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.animate-slideFadeIn {
  animation: slideFadeIn 1s ease-out; 
}

.register-form {
  max-width: 100%;
  width: 100%;
  padding: 40px;
  margin: auto;
}


@media (min-width: 1024px) {
  .register-form {
    width: 100%;
    max-width: 100%;
    height: 100vh; 
    padding: 40px; 
  }
}


@keyframes lineSlideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}


.animate-lineSlideFadeIn {
  animation: lineSlideFadeIn 1s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.delay-500 {
  animation-delay: 0.5s;
}

.delay-600 {
  animation-delay: 0.6s;
}


.login-background {
  position: relative;
  height: 100vh; 
  background-image: url('https://wallpapers.com/images/hd/mall-background-us7l9rtvqgm9c7ug.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.login-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 48, 49, 0.795); 
  z-index: 1; 
}


.login-container {
  position: relative;  
  z-index: 2; 
}


@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-loginCard-slideFadeIn {
  animation: slideFadeIn 1s ease-in;
}



.toast {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight:500;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

.toast-success {
  background-color: #4CAF50; 
}

.toast-error {
  background-color: #F44336;
}






